/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  background-color: lightgrey;
}

.panel {
  padding: 20px;
}

.games-container {
  padding: 20px;
}

.main-title {
  padding: 10px;
  font-size: 4em;
  font-family: fantasy, cursive, sans-serif;
}

h4.game-name {
  color: #047BA7;

}

.view-game {
  background-color: #fd8627;
  color: black;
  border: 2px outset darkgrey;
}

.categories {
  font-style: italic;
  font-weight: 500;
  color: darkgrey;
}

.fa-plus {
  color: green;
  font-size: 60px;
}

span.right {
  float: right;
}

.search-button {
  height: 40px;
  width: 100px;
}
