/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  background-color: lightgrey;
}

.panel {
  padding: 20px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.games-container {
  padding: 20px;
}

.main-title {
  padding: 10px;
  font-size: 4em;
  font-family: fantasy, cursive, sans-serif;
}

h4.game-name {
  color: #047BA7;

}

.view-game {
  background-color: #fd8627;
  color: black;
  border: 2px outset darkgrey;

}

.new-game {
  background-color: #1F9E35;
  color: black;
  border: 2px outset darkgrey;

}

.categories {
  font-style: italic;
  font-weight: 500;
  color: darkgrey;
}

.fa-plus {
  color: #1F9E35;
  font-size: 120px;
  text-align: center;
  text-shadow: 3px 3px #202020;

}
.fa-thumbs-down {
  margin: 5px;
  font-size: 40px;
  text-align: center;
}
.fa-thumbs-up {
  margin: 10px;
  font-size: 40px;
}
.upvoted{
  color: green;
}
.downvoted{
  color: purple;
}

span.right {
  float: right;
  position: relative;
  bottom: 16px;
}

.index-tile{
  min-height: 320px;
  border: 1px solid #333333
}

.form-button{
  background-color: #fd8627;
  color: black;
  border: 2px outset darkgrey;
}

.review {
  border: 1px solid #333333
}

.game-show {
  border: 1px solid #333333
}

.vp {
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;

}
